section {
  width: 100%;
  background-color: #101a33; // untere Farbe
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -78px;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #0d1321; // obere Farbe
    border-bottom-left-radius: 0% 27px;
    border-bottom-right-radius: 126% 589px;
  }
}
