@import '../../../variables.scss';

section {
  background-color: $backgroundcolor;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $whiteColor;

  h2 {
    margin-left: 5%;
    font-size: 10px;
  }

  nav {
    display: none;    
  }

  .burger {
    margin-right: 5%;
  }
}


@media (min-width: 768px) {
  section {
    h2 {
      font-size: 100%;
    }

    nav {
      display: flex;
      gap: 50px;

      .btn-field {
        display: flex;
        gap: 10px;
        margin-right: 50px;

        button {
          background: transparent;
          font-size: 18px;
          font-family: inherit;
          color: $whiteColor;
          border: 1px solid $greenColor;
          border-radius: 30%;
          padding: 5px;

          &:hover {
            cursor: pointer;
            background-color: $greenColor;
          }
        }
      }

      a {
        color: $whiteColor;
        text-decoration: none;
        margin-right: 20px;

        &:hover {
          color: $greenColor;
        }
      }
    }

    .burger {
      display: none;
    }
  }
}



