@import '../../../variables.scss';
section {
  width: 100%;
  background-color: $backgroundcolor;
  height: 109px;
  height: 110px;
    position: fixed;
    z-index: 2;
}
.container {
  
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.left {
  color: $whiteColor;
  height: 28px;
}
nav {
  display: flex;
  gap: 92px;
}
.nav_links {
  display: flex;
  gap: 28px;
  a {
    color: $whiteColor;
    text-decoration: none;
    font-size: 23px;
    transition:  color 0.1s;
    &.Portfolio{
        margin-right: 62px;
      }
   
    &.contact_link {
      display: none;
    }
    &:hover {
      color: $greenColor;
    }
  }
   
}

.button_field {
  display: flex;
  gap: 10px;

  button {
    height: 32px;
    width: 40px;
    border-radius: 10px;
    background-color: transparent;
    color: $whiteColor;
    border: 1px solid $greenColor;
    cursor: pointer;

    &:hover {
      background-color: $purpleColor;
      border-color: $purpleColor;
    }

    &.active {
      background-color: $greenColor;
      border-color: $greenColor;
    }
  }
}

.button_field_mobil {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}
@media(min-width:2160px){

.container{
              padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
}
}

@media (max-width: 1050px) {
  .container {
    margin: 0 25px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .burger {
    display: block;
  }

  .nav_links {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    display: none;
    a {
      &.Portfolio{
        margin-right: 0;
      }
      &.contact_link {
        display: block;
      }
    }
    .button_field {
      display: none;
    }
    .button_field_mobil {
      display: block;
      span {
        margin: 0 5px;
      }
      button {
        background-color: transparent;
        color: $whiteColor;
        border-style: none;
        &.active {
          color: $greenColor;
        }
      }
    }
  }

  .nav_links.open {
    display: flex;
    position: absolute;
    background-color: #141d2fa8;
    left: 0;
    top: 89px;
    height: calc(100vh - 109px);
    align-items: center;
    justify-content: center;
    z-index: 1;
    &.contact_link {
      display: flex;
    }
  }

  .button_field {
    margin-top: 12px;
  }
}
