section {
    background-color: #141D2F;
    height: 120px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;

    >nav {
        display: flex;
        gap: 50px;

        >.btn-field {
            display: flex;
            gap: 10px;
            margin-right: 20px;

            >button:hover{
                background-color: #70E61C;

        }

    }

    a {
        color: #FFFFFF;
        text-decoration: none;
        margin-right: 20px;

        &:hover {
            color: #70E61C;
        }
    }


}}