section {
    background-color: #141D2F;
    position:fixed;
    z-index: 5;
    top: 0;
    height: 120px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding-right: 0;
    >h2{
        margin-left: 20px;
    }
    

    >nav {
        display: flex;
        gap: 50px;

        >.btn-field {
            display: flex;
            gap: 10px;
            margin-right: 20px;

            >button {
                background: transparent;
                color: #fff;
                border: 1px solid #70E61C;
                border-radius: 30%;
                padding: 5px;
                margin: 0;
            }


            >button:hover {
                background-color: #70E61C;

            }

        }

        a {
            color: #FFFFFF;
            text-decoration: none;
            margin-right: 20px;

            &:hover {
                color: #70E61C;
            }
        }


    }
}