@import '../../../../variables.scss';

.main{
  width: 1168px;
  display: flex;
  gap: 35px;
  width: 100%;;
  justify-content: center;
  align-items: center;
}
.left_side{
    img{
            width: 620px;
    height: 339px;
    object-fit: cover;
    }
}
.right_side{
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title{
  font-size: 32px;
  color: $purpleColor;
}
.skills{
  font-size: 23px;
  color: $greenColor;
;
}
.description{
  font-size: 16px;
  color: $whiteColor;
}
.buttons{
  display: flex;
  gap: 88px;
   a{
        text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .purple{
  width: 185px;
  height: 58px;
  padding: 5px;
  border-radius: 10px;
  background-color: $purpleColor;
  max-height: 63px;
  font-size: 23px;
  text-align: center;
  align-self: center;
  color: $whiteColor;
  margin-top: 30px;
  transition:  background-color 0.1s;
  &:hover {
    cursor: pointer;
    
   
    background-color: $greenColor;
  }
  a{
    text-decoration: none;
  }

  }
  .green{
  width: 185px;
  height: 58px;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border-style: solid;
  border-color: $greenColor;
  border-width: thin;
  max-height: 63px;
  font-size: 23px;
  text-align: center;
  align-self: center;
  color: $whiteColor;
  margin-top: 30px;
  transition:  background-color 0.1s;
  &:hover{
    cursor: pointer;
    background-color: $greenColor;
  }
  &:active {
    background-color: $greenColor;
   
    
  }
  }
}

@media(max-width:1050px){
  .main{
    flex-direction: column;
    padding-top: 130px;
  }
  .right_side{
        text-align: center;
            max-width: 263px;
  }
  .left_side{
    img{
            width: 342px;
    height: 213px;
    object-fit: cover;
    }
}
.skills{
  max-width: 263px;
}
 .buttons {
    gap: 0;
    flex-direction: column;
  
   .purple{
  width: 185px;
  height: 58px;
  padding: 5px;
  border-radius: 10px;
  background-color: $purpleColor;
  max-height: 63px;
  font-size: 23px;
  text-align: center;
  align-self: center;
  color: $whiteColor;
  margin-top: 30px;
  transition:  background-color 0.1s;
  &:hover {
    cursor: pointer;
   
    background-color: $purpleColor;
  }

  }
}
}


