@import '../../../variables.scss';
section {
  background-color: $backgroundcolor;
  border-top-color: $greenColor;
  border-top-style: solid;
}
.main {
  height: 291px;
  color: $whiteColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  a {
    text-decoration: none;
    color: $whiteColor;
  }
}

.middle {
  p {
    font-size: 16px;
  }
}
.right {
  display: flex;
  gap: 30px;
  img {
    height: 30px;
    width: 30px;
       transition: scale 0.2s;
    &:hover {
      cursor: pointer;
      scale: 1.2;
    }
  }
}
.mobil {
  display: none;
}

@media (max-width: 1050px) {
  .desktop {
    display: none;
  }
  .mobil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 81px;
  }
  .middle{
    p{
      font-size: 14px;
    }
  }
  .left {
    margin-top: 68px;
  }
}
@media (min-width: 2160px) {
  section{
           padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
  }
}