section {
    
    z-index: 0;
  width: auto;
  background-color: #1f2d4f; // untere Farbe
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    
    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #141D2F; // obere Farbe
    border-bottom-left-radius: 0% 27px;
    border-bottom-right-radius: 126% 589px;
  }

  >main{
    position: absolute;
    z-index: 1;
    margin-top: 80;
    height: 100vh;

    width: 100%;
    display:flex ;
    justify-content: space-between;
    color: white;
    >.name{
        margin-top: 15%;
        margin-right: 5%;
        
    }
    .jobColor{
        color: #9747FF;
        font-size: 30px;
    }
    p{
        font-size: 35px;
        margin: 0;
        
    }
    img{
        margin-top: 15%;
        
        height: 90%;
        width: 100%;
    }
  }

  
}

