@import '../../variables.scss';

section {
  background-color: $backgroundcolor;
}
.main {
  z-index: 0;
  width: 100%;
  height: calc(100vh - 110px);
  position: relative;
  overflow: visible;
  padding-top: 110px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 615px;
    background-color: #141D2F;
    border-bottom-left-radius: 0px 82px;
    border-bottom-right-radius: 643px;
    box-shadow: 70px 20px 295px #1f2d4f;
  }
}
.middle_area {
  display: flex;
  z-index: 1;
  position: absolute;
  max-width: 1540px;
  justify-content: space-between;
  font-size: 4vw;
  color: $whiteColor;
}
.left_side {
  height: 641px;
  width: 100%;

  position: relative;
  img {
       /* object-fit: contain; */
    width: 100%;
    height: 600px;
    object-fit: contain;
  }
}
.person {
  position: absolute;
  top: 14px;
  left: 0;
 
}
.right_side {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.vertical {
  writing-mode: vertical-lr;
  font-size: 2.8vw;
  display: flex;
  align-self: center;
  margin-right: 35px;
}
.my_name {
  display: flex;
  justify-content: center;
  width: 100%;
}
.job {
  font-size: 3vw;
  color: $purpleColor;
}
.test {
  display: flex;
  height: 63px;
  width: 100%;
  justify-content: center;
}
.lets_talk {
  width: 185px;
  height: 58px;
  padding: 5px;
  border-radius: 10px;
  background-color: $greenColor;
  max-height: 63px;
  font-size: 23px;
  text-align: center;
  align-self: center;
  color: $whiteColor;
  margin-top: 30px;
  transition: width 0.1s, height 0.1s, background-color 0.1s;
  &:hover {
    cursor: pointer;
    width: 190px;
    height: 63px;
    background-color: $purpleColor;
  }
}

.main_footer {
  height: 160px;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_left {
  display: flex;
  height: 150%;
  align-items: center;
  gap: 32px;
}
.footer_line {
  border-color: $purpleColor;
  border-style: solid;
  width: 100px;
}
.social_links {
  display: flex;
  gap: 32px;

  img {
    height: 30px;
    transition: scale 0.2s;
    &:hover {
      scale: 1.2;
    }
  }
}
.email {
  font-size: 23px;
  color: $whiteColor;
  text-decoration: none;
}
.go_down {
  font-size: 23px;
  color: $whiteColor;
  writing-mode: vertical-lr;
  margin-right: 100px;
}
.footer_right{
  img{
    rotate: 90deg;
  }
}

@media (max-width: 1050px) {
  .main {
    &::before {
      content: '';
      height: 39vh;
      border-bottom-left-radius: 0% 82px;
      border-bottom-right-radius: 37%;
    }
  }
  .middle_area {
    font-size: 35px;
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }
  .left_side {
    margin-left: 0;
  }
  .job {
    font-size: 25px;
  }
  .vertical {
    font-size: 21px;
    margin-right: 0;
  }
  .left_side {
    img {
           height: 39vh;
        top: 1px;
        object-fit: contain;
    }
  }

  .right_side {
    justify-content: center;
  }
  .person {
    transform: rotate(0deg);
  }
  .email {
    display: none;
  }
  .go_down {
    display: none;
  }
}

.social_links {
  height: 30px;
  width: auto;
}
@media (min-width: 2160px) {
  section{
           padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
  }
  .main{
        height: 1080px;
        &::before{
          height: 800px;
        }
  }
  .middle_area {
    font-size: 70px;
  }
  .left_side{
    img{
      height: 820px;
    }
  }
  .job {
    font-size: 54px;
  }
  .vertical {
    font-size: 54px;
  }
}
