$purpleColor:#9747FF;

section {

  z-index: 0;
  width: 100%;
  background-color: #1f2d4f; // untere Farbe
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #141D2F; // obere Farbe
    border-bottom-left-radius: 0% 27px;
    border-bottom-right-radius: 126% 589px;
  }

   main {
    position: absolute;
    z-index: 1;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 90%;

    .name  {
      
      
      display: flex;
    margin-top: 20%;
   
    
    
      padding-right: 10%;
      
      height: 100vh;


      .verticalText p {
        font-size: 70px;
        writing-mode: vertical-lr;

      }

    }

    .jobColor {
      color:$purpleColor;
      font-size: 50px;
    }

    p {
      font-size: 60px;
      margin: 0;

    }

    img {
      margin-top: 15%;
    

      height: 90%;
      
    }
  }
  footer{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
    bottom: 0;
    position: absolute;
    z-index: 30;
    >img{
      height: 30px;
      width: 30px;
    }
    >div{
      width: 200px;
      height: 0px;
      border-style: solid;
      border-color:$purpleColor;
    }
    >a{
      color: white;
    }
  }
 


}