@import"./variables.scss";
*{
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    background-color: $backgroundcolor;
    
}

h2{
  font-size: 90px;
  font-weight: bold;
  @media(max-width:1050px){
font-size: 45px;
  };
}



 
