@import '../../../variables.scss';

section {
  height: 515px;
  position: relative;
  img{
        position: absolute;
  left: -252px;
    bottom: -292px;
    height: 100%;
  }
}
.main {
  height: 100%;
 padding-top: 110px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 100px;
}
.skill_icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 Icons pro Reihe
  gap: 88px;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 88px;
  align-items: center;

  svg {
    transition: transform 0.3s; // sanfte Bewegung für Hover
  }

  /* Hover-Effekt für Farbe und Bounce */
  svg:hover {
    animation: bounce 0.6s ease; // Bounce-Animation
  }

  p {
    color: $whiteColor;
    text-align: center;
  }
}
.learning_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 88px;
  text-align: center;
  p {
    margin-top: 10px;
    color: $purpleColor;
  }
}

/* Keyframes für den Bounce-Effekt */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  } // hochspringen
  50% {
    transform: translateY(-5px);
  } // kurz runter
  70% {
    transform: translateY(-8px);
  } // kleines Nachfedern
  100% {
    transform: translateY(0);
  } // Ausgangsposition
}

.right_side {
}
.test {
  p {
    color: white;
    text-align: right;
    margin-right: 100px;
    margin-bottom: 60px;
  }
}

.headline {
  font-size: 90px;
  color: $whiteColor;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: end;
  margin-bottom: 88px;
}
.line {
  width: 68px;
  height: 0;
  border-style: solid;
  border-color: $purpleColor;
}
.details {
  color: white;
  margin-right: 100px;
  font-size: 16px;
  text-align: right;
  p {
    margin-bottom: 24px;
    margin-top: -16px;
  }
  button {
    width: 200px;
    height: 58px;
    background-color: $greenColor;
    font-size: 23px;
    color: $whiteColor;
    border-radius: 10px;
    transition:
      width 0.1s,
      height 0.1s,
      background-color 0.1s;
    &:hover {
      cursor: pointer;
      width: 210px;
      height: 63px;
      background-color: $purpleColor;
    }
  }
}
.looking {
  font-size: 32px;
  span {
    color: $purpleColor;
  }
}
@media (max-width: 1050px) {
    section{
        img{
              
         bottom: -300px;
        scale: 1.4;
        left: -402px;
        }
    }
  .main {
    flex-direction: column;
    margin-left: 24px;
  }
  .headline {
    font-size: 45px;
    margin-bottom: 32px;
  }
  .test {
    p {
      text-align: center;
      width: 90%;
      margin-right: 24px;
    }
  }
  .details {
    text-align: center;
    width: 95%;
            position: relative;
        bottom: -399px;
    button {
      width: 128px;
      height: 49px;
      font-size: 16px;
      transition: none;
      &:hover {
        width: 128px;
        height: 49px;
        background-color: $greenColor;
      }
    }
  }
  .looking {
    font-size: 24px;
  }
  svg{
    height: 48px;
    width: 48px;
  }
  .skill_icon{
   display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
                position: relative;
        top: -159px;
        padding-right: 10px;
  }



}
@media(max-width:359px){
    .details{
        position: relative;
        bottom: -600px;
    }
}

@media (min-width: 2160px) {
  section{
           padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
  }
}
