@import "../../../variables.scss";

section{
    background-color: $backgroundcolor;
    padding-top: 120px;
    >.header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        >.line{
            border-style: solid;
            border-color: $purpleColor;
            width: 400px;
            height: 0;
            margin-left: 30%;
        }
        >h2{
            color: $whiteColor;
            font-size: 90px;
        }
        >.line-two{
            border-style: solid;
            border-color: $purpleColor;
            width: 100%;
            height: 0;
        }
    }
    .sub-headline{
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: $whiteColor;
        margin-bottom: 0;
    }
}