@import '../../variables.scss';
* {
  color: $whiteColor;
}
.arrow {
  display: none;
}
section {
  padding-bottom: 100px;
}
.policy-body {
  margin: 0 100px;
}
.line {
  width: 130px;
  border-style: solid;
  border-color: $purpleColor;
}
.policy-head {
  padding-top: 110px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  h1 {
    color: $greenColor;
    font-size: 61px;
  }
}
.long_line {
  border-style: solid;
  width: 500px;
  border-color: $purpleColor;
}
h2 {
  margin-top: 24px;
}


@media (max-width: 1050px) {
  .line {
    display: none;
  }
  .long_line {
    width: 75px;
  }
  .policy-head {
    padding-top: 0;
    h1 {
      font-size: 45px;
    }
  }
  .policy-body {
    margin: 0 24px;
  }
  .arrow_container {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
  }
  a {
    align-self: flex-end;
    .arrow {
      display: block;
      width: 39px;

      padding-right: 24px;
    }
  }}