@import '../../../variables.scss';

section {
    background-color: $backgroundcolor ;
    position: relative;
    >.bg-img-container{
     top: 31%;
    position: absolute;
   
    height: 798px;
    left: -31%;
    overflow: hidden;
    >img{
            height: 131%;
    }
    }


    >.header {
        padding-top: 120px;
        padding-bottom: 100px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;

        >.line {

            width: 40%;
            height: 0px;
            color: $purpleColor;

            border-style: solid;
        }

        >h2 {
            font-size: 90px;
            margin: 0;
            color: $whiteColor;
        }

    }

    >.body {
        margin: 0 120px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;

        >.text {
            >.sub-headline {
                font-size: 32px;
            }

            p {
                font-size: 16px;
                color: $whiteColor;
            }
        }

        >.input {

            display: flex;
            flex-direction: column;

            gap: 30px;

            >a img {
                height: 50px;
                width: 50px;
                position: relative;
                left: 100%;

                &:hover {
                    cursor: pointer;
                }


            }

            >.policy {
                display: flex;
                align-items: center;
                gap: 20px;

                >p {
                    color: $whiteColor;
                    font-size: 14px;

                    >span {
                        color: $purpleColor;
                        font-size: 14px;
                    }
                }

                >.btn-check {
                    input {
                        display: none;
                    }

                    span {
                        width: 24px;
                        height: 24px;
                        border: 2px solid, $greenColor;
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: 0.2s;
                    }

                    input:checked+span::after {
                        content: "\2714";
                        color: $greenColor;
                        position: absolute;



                    }
                }

            }

            >textarea {
                height: 150px;
                background-color: $backgroundcolor;
                border-style: solid;
                border-color: $purpleColor;
                padding: 10px 10px;
                border-radius: 20px;
                color: $whiteColor;


                &::placeholder {
                    color: $whiteColor;
                    text-align: left;
                }
            }


            >input {

                width: 830px;
                background-color: $backgroundcolor;
                border-style: solid;
                border-color: $purpleColor;
                padding: 10px 10px;
                border-radius: 20px;
                color: $whiteColor;




                &::placeholder {
                    color: $whiteColor;
                    text-align: left;
                }





            }

            button {
                position: relative;

                font-size: 32px;
                background-color: $greyColor;
                font-family: inherit;
                border-radius: 18px;
                color: $whiteColor;
                margin: 0 200px;
                padding: 15px;

                &:hover {
                    cursor: pointer;
                    background-color: $greenColor;
                }
            }

        }
    }

}